# Database Configurations
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=edson
POSTGRES_PASSWORD=password

# Blockchain and DID Registry Configurations
GENESIS_URL=https://test.bcovrin.vonx.io/genesis
DID_REGISTRY_URL=https://test.bcovrin.vonx.io/register
IP=IPAddress

# Issuer Agent Configurations
ISSUER_PORT_INBOUND=30000
ISSUER_PORT_ADMIN=30001
ISSUER_ADMIN_API_KEY=super-secret-key
ISSUER_ADMIN_ENDPOINT=http://${IP}:${ISSUER_PORT_ADMIN}
ISSUER_ENDPOINT=http://${IP}:${ISSUER_PORT_INBOUND}
ISSUER_WEBHOOK_URL=http://${IP}:15000/webhook

ISSUER_LABEL=Issuer

ISSUER_WALLET_NAME=issuer.wallet
ISSUER_WALLET_KEY=issuer_wallet_secret_key

## Verifier Agent Configurations
VERIFIER_PORT_INBOUND=30010
VERIFIER_PORT_ADMIN=30011
VERIFIER_ADMIN_API_KEY=super-secret-key
VERIFIER_ENDPOINT=http://${IP}:${VERIFIER_PORT_ADMIN}
VERIFIER_WEBHOOK_URL=http://${IP}:15010/webhook

VERIFIER_LABEL=Verifier

VERIFIER_WALLET_NAME=verifier.wallet
VERIFIER_WALLET_KEY=verifier_wallet_secret_key

# Requester Agent Configurations
DID=HcN1iDVHMd7ULbYmNMyZCh
VERKEY=A44nHjcusvD6U92gtcZyPx6GsHcTYYz1p7miMKyuNBR9
SCHEMA_ID=HcN1iDVHMd7ULbYmNMyZCh:2:smart_meter_role:1.0
CREDENTIAL_DEFINITION_ID=HcN1iDVHMd7ULbYmNMyZCh:3:CL:3101353:default
